@import 'src/styles/colors.scss';

.bigTitle {
  font-family: Gotham;
  font-size: 62px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $orange-red
}

.subTitle {
  font-family: Gotham;
  font-size: 48px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1b1628;
}

.textSentence {
  font-family: Bariol;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1b1628;
}