@import 'src/styles/colors.scss';

.commentContainer {
  position: relative;

  .commentTag {
    width: 220px;
    height: 220px;
    border-radius: 12px;
  }

  .commentContentContainer {
    position: relative;
    width: fit-content;
    margin-left: 20px;
    margin-top: 5px;

    .commentContentText {
      width: 100%;
      position: absolute;
      font-family: 'Bariol';
      font-size: 24px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: var(--font-color);
      padding: 0 25px;
      top: 50%;
      transform: translateY(-85%);
    }
  }

  .commentContentBoxMB {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .commentContainer {
    .commentTag {
      width: 100px;
      height: 100px;
    }

    .commentContentContainer {
      margin-left: 0;
      width: 100%;

      .commentContentText {
        font-size: 12px;
        max-width: 317px;
        padding: 0 15px;
        transform: translateY(-75%);
      }
    }

    .commentContentBoxDesktop {
      display: none;
    }

    .commentContentBoxMB {
      display: unset;

      width: 100%;
      max-width: 317px;
    }
  }
}