.container {
  padding-top: 180px;
  margin-bottom: 50px;
}

.hero_banner {
  width: 100%;
  height: 680px;
  position: relative;
  margin-top: -88px;
  background-image: url('/images/multiverse_background.jpg');
}

.tagCommentContainer {
  position: relative;
  display: flex;
}

.pageContentContainer {
  width: 100%;
  padding-left: 90px;
  padding-top: 50px;
  padding-right: 50px;
}

.redCatTitle {
  margin-top: 120px;
}

.figmentTitle {
  margin-top: 30px;
  margin-bottom: 50px;
}

.figmentCardContainer {
  display: flex;
  width: 100%;
  max-width: 1360px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 90px;
  padding-top: 50px;
  padding-right: 50px;

  .cardItem {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1200px) {

  .pageContentContainer,
  .figmentCardContainer {
    padding-left: 50px;
  }
}

@media screen and (max-width: 1024px) {

  .pageContentContainer {
    padding: 35px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .tagCommentContainer {
    flex-direction: column;
    flex-flow: column-reverse;
  }

  .figmentCardContainer {
    padding: 35px;
    padding-top: 0;

    .cardItem {
      margin-bottom: 30px;
    }
  }

  .redCatTitle {
    margin-top: 30px;
  }
}

@media screen and (max-width: 550px) {
  .figmentCardContainer {
    flex-direction: column;
  }

  .hero_banner {
    background-position-x: -500px;
  }
}