.container {
  margin-top: 120px;
  margin-bottom: 150px;
  width: 100%;
  padding: 0px 90px;
}

.sectionContainer {
  width: 100%;
  padding: 62px 42px 62px 62px;
  border-radius: 8px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  margin-top: 70px;
  margin-bottom: 76px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.playSectionContainer {
    background: #e83324;
  }

  &.learnSectionContainer {
    background: #7192f3;
  }

  &.earnSectionContainer {
    background: #f2957c;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    padding: 0px 60px;
  }
}

@media screen and (max-width: 1250px) {
  .sectionContainer {
    padding: 40px 30px;
  }
}

@media screen and (max-width: 1100px) {
  .sectionContainer {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0px 8px;
    margin-bottom: 27px;
  }

  .sectionContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 25px 20px 16px;
  }
}

@media screen and (max-width: 375px) {
  .sectionContainer {
    padding: 16px 12px;
  }
}