@import 'src/styles/colors.scss';

.headerContainer {
    position: relative;
    z-index: 9999;
    // width: 100%;
    // top: 0;
}

.header {
    padding: 21px 0;
    display: flex;
    justify-content: space-between;

    .navbar {
        display: flex;
        align-items: center;
        padding: 11px 19px;
        border-radius: 8px;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        border: solid 1px rgba(255, 255, 255, 0.13);
        background-color: var(--header-nav-background);
        // background-color: white;

        a {
            font-size: 16px;
            // color: $white;
            color: --var(--font-color);
        }

        span {
            padding: 0 8px;
            color: $yellow;
        }

        .icons {
            display: flex;
            margin-left: 20px;
            align-items: center;

            a {
                padding: 0 3px;
                width: 23px;
            }
        }

        .themeSwitch {
            display: flex;
            align-items: center;
            margin-left: 8px;
        }

        &.darkPage {
            background-color: $dark-blue;

            a {
                color: $white;
            }
        }
    }

    // styles navbar mobile
    .navbar-mobile {
        display: flex;

        button {
            z-index: 12;

            img {
                width: 23px;
            }
        }

        // container glass
        .container-glass {
            width: 100%;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(6px);
            height: 100vh;
            position: fixed;
            top: 0px;
            left: 0;
            z-index: 10;

            // container principal options
            .container-options {
                background-color: var(--background);
                color: var(--font-color);
                width: 75%;
                height: 100%;
                border-radius: 0 8px 8px 0;
                border: solid 2px $orange-red;
                box-shadow: 5px 0 6px 0 rgba(0, 0, 0, 0.21);

                // container brand
                .container-brand {
                    padding: 20px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    img {
                        width: 122px;
                    }

                    .themeSwitch {
                        line-height: 1;
                    }
                }

                // styles links options
                .container-links {
                    margin-right: 61px;

                    .container-options-links {
                        margin-top: 18px;

                        a {
                            display: block;
                            margin: 0px 0px 0px 42px;
                            padding: 8px 0px;
                            font-size: 24px;
                            line-height: 1.33;

                            .line-gradient {
                                background: linear-gradient(to right, #f9c930 25%, #f2957c 49%, #7192f3 75%);
                                height: 2px;
                                margin-top: 17px;
                                width: 95%;
                            }
                        }
                    }
                }

                // icons at end the menu
                .icons {
                    align-items: center;
                    display: flex;
                    margin-left: 40px;
                    margin-top: 29px;

                    a {
                        padding: 0 3px;
                        margin-right: 12px;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            .slide-left {
                animation: slideLeft 250ms;
            }
        }
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-400px);
    }

    100% {
        transform: translateX(0px);
    }
}

@media screen and (max-width: 840px) {
    .header {
        .navbar {
            display: none;
        }
    }
}

@media screen and (min-width: 840px) {
    .header {
        .navbar-mobile {
            display: none;
        }
    }
}