.gradient_container {
  .gradient_text {
    font-size: 89px;
    font-family: Gotham Ultra;
    font-weight: bold;
    -webkit-text-stroke: 5px transparent;
    letter-spacing: 1.7px;
    display: inline;
    padding-left: 2px;
    line-height: 1;

    @media screen and (max-width: 576px) {
      font-size: 38px !important;
    }
  }
}