.rcmLabsContainer {
  font-family: 'Bariol';
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--font-color);

  // display: flex;
  .rcmLabsContent {
    display: flex;

    .leftCol {
      .rcmLabsDesc {
        margin-bottom: 26px;
        max-width: 729px;
      }

      .storyTxt {
        max-width: 510px;
        margin-bottom: 26px;
      }
    }

    .rightCol {
      margin-top: 80px;

      img {
        width: 618px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .rcmLabsContainer {
    font-size: 13px;

    .rcmLabsContent {
      margin-top: 35px;
      flex-direction: column;

      .rightCol {
        margin-top: 0;

        img {
          width: 244px;
        }
      }
    }
  }
}